.mt150 {
  margin-top: 150px;
  margin-bottom: 80px;
}
.home-area {
  width: 100%;
  height: 95vh;
  color: white;
  background-image: url("../assets/Home_Page.jpg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.home-data {
  margin-top: 16%;
  padding: 10%;
  background-color: #221e79cf;
  border-radius: 10px;
}
.home-data h1 {
  font-size: 40px;
}
.home-data h2 {
  padding: 8px 0px;
  font-size: 40px;
}
.home-data p {
  font-size: 18px;
}
.Casinobles_logo {
  width: 100%;
  height: 100%;
}

.Casinobles_logo img {
  margin-left: 30px;
  margin-top: 260px;
}

.casino-data h2 {
  margin: 75px 0px;
  font-size: 37px;
  color: rgb(12, 12, 73);
}
.casino-data p {
  margin-top: 35px;
  font-size: 19px;
  color: #0d0c52;
}

.CasinobleReviews h2 {
  font-size: 25px;
}

.bg-blue {
  background-color: #0d0c52;
  color: white;
  padding: 90px 0px;
}

.CasinobleReviews h2 {
  margin-top: 140px;
  margin-bottom: 40px;
  font-size: 30px;
}
.CasinobleReviews p {
  font-size: 17px;
}

.Methodology_data {
  margin: 100px 0px;
}

.Methodology_data h2 {
  margin-top: 140px;
  font-size: 30px;
}
.Methodology_data p {
  margin-bottom: 35px;
  font-size: 16px;
  margin-top: 40px;
}
.link-area {
  display: flex;
  align-items: center;
}
.link-area span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f77088;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.link-area h2 {
  font-size: 20px;
  margin-top: 11px;
  margin-left: 20px;
  color: rgb(12, 12, 73);
}

.data-area-bonuses p {
  font-size: 17px;
  margin-top: 18px;
}

.data-area-bonuses {
  margin-top: 45px;
}

.bonuses-img-area {
  display: flex;
  align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bonuses-img-area img {
  margin-left: 100px;
}
.BM-margin-100 {
  margin-top: 150px;
  margin-bottom: 100px;
}
.bank-title h2 {
  font-size: 25px;
  color: #0d0c52;
}
.bank-title p {
  font-size: 18px;
  color: #0d0c52;
}

.bank-data {
  background-color: #ffffff;
  padding: 30px 0px;
}

.bank-data img {
  width: 120px;
  height: 80px;
  transform: scale(0.9);
  transition: 0.3s;
}
.bank-data a {
  font-size: 25px;
  font-weight: 900;
  color: #0d0c52;
  margin-top: 15px;
  display: block;
  text-decoration: none;
}
.bank-mt {
  margin-top: 35px;
}

.bank-data:hover img {
  transform: scale(1);
}

.history-bd {
  background-color: #5848d5;
  color: white;
  padding: 80px 0px;
}

.history-data h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.history-data {
  margin-bottom: 100px;
}

.ptb {
  padding: 80px 0px;
}

.Casinobles {
  width: 100%;
  height: 100%;
}
.casino_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fqa {
  margin-bottom: 50px;
  font-size: 35px;
}

.accordion-button:not(.collapsed) {
  color: #0d0c52cc;
  background-color: #ceebfe;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: rgb(85, 47, 128);
  text-align: left;
  background-color: #56459267;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.fqa-data {
  margin: 150px 0px;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.mb-acc {
  margin-bottom: 10px;
}
.gambling-data {
  padding: 140px 0px;
  color: white;
}
.gambling-bg {
  background-color: #5848d5;
}
